<html>
  <head>
    <title>Habit List</title>
    <link rel="stylesheet" href="style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <nav>
      <a href="/logout">Logout</a>
    </nav>

    <div class="container">
      <h1>Habit List</h1>

      <figure>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Habit Name</th>
              <th>Duration</th>
              <th>Record Count</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td><a href="#">Go to Gym</a></td>
              <td>2024-09-10 ~ 2024-12-31</td>
              <td>4</td>
              <td><a href="#">Delete</a></td>
            </tr>

            <tr>
              <td>2</td>
              <td><a href="#">Drink 2L of Water</a></td>
              <td>2024-09-10 ~ 2024-12-31</td>
              <td>3</td>
              <td><a href="#">Delete</a></td>
            </tr>
          </tbody>
        </table>
        <p></p>
        <a class="button" href="/list">Add Habit</a>
      </figure>
    </div>
  </body>
</html>
