<html>
  <head>
    <title>Add Note for your Habit</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav>
      <a href="/habit">Habit List</a>
      <a href="/logout">Logout</a>
    </nav>
    <div class="container">
      <h1>Add Note for your Habit</h1>
      <form method="post" action="/habit/<%=id%>/add_note">
        <figure>
          <p class="habit-content">
            <label>memo</label>
            <input type="text" name="memo" />
          </p>
          <button type="submit" class="button centered-text" style="width: 100%" >
          Save
        </button>
        </figure>
      </form>
    </div>
  </body>
</html>
