<html>
  <head>
    <title>Habit Records</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <nav>
            <a href="/habit_list">Habit List</a>
            <a href="/logout">Logout</a>
        </nav>
    <div class="container"> 
      <h1>Habit Record: Drink 2L of Water</h1>
      <figure>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Habit Notes</th>
              <th>Uploaded Date</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>

            <tr>
              <td>1</td>
              <td>Barely reached my goal!</td>
              <td>2024-09-15</td>
              <td><a href="#">Delete</a></td>
            </tr>

             <tr>
              <td>2</td>
              <td>Drank too much bev.</td>
              <td>2024-09-20</td>
              <td><a href="#">Delete</a></td>
            </tr>

             <tr>
              <td>3</td>
              <td>Had 3L..</td>
              <td>2024-09-25</td>
              <td><a href="#">Delete</a></td>
            </tr>


          </tbody>
        </table>
        <p></p>

        <a class="button" href="/habit_record_add">Add Note</a>
      </figure>
    </div>
  </body>
</html>
