<html>
  <head>
    <title>Login</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <nav>
      <a>Welcome to Habit Tracker !! 😉 </a>
    </nav>
    <div class="container">
      <h1>Log In</h1>

      <form method="post" action="/login" class="signup-form">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" id="email" name="email" required />
        </div>
        <p></p>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required />
        </div>

        <button type="submit" class="button centered-text">Login</button>
      </form>
 
    
    <p class="centered-text">
      <a href="/register">Need to create an account?</a>
    </p>
  </body>
</html>
