<html>
  <head>
    <title>Sign Up</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <nav>
      <a href="/login">Back to Login</a>
    </nav>
    <div class="container">
      <h1>Sign Up</h1>
      <form method="post" action="/register" class="signup-form">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" required />
        </div>
        <p></p>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" id="email" name="email" required />
        </div>
        <p></p>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="text" id="password" name="password" required />
        </div>

        <button type="submit" class="button" style="width: 100%">
          Register
        </button>
      </form>
    </div>
  </body>
</html>
