<html>
  <head>
    <title>습관 목록</title>
    <!-- Minified version -->

    <link rel="stylesheet" href="style.css">
    
  </head>

  <body>
    <div class="container">
        <nav>
            <a href="/">Home</a>
            <a href="/habbit">습관목록</a>
            <a href="/logout">로그아웃</a>
        </nav>

      <h1>습관 기록: 아침 운동</h1>
      <figure>
        <table>
          <thead>
            <tr>
              <th>아이디</th>
              <th>습관 기록 메모</th>
              <th>기록 생성일</th>
              <th>삭제</th>
            </tr>
          </thead>
          <tbody>
            <% posts.forEach(item => { %>

            <tr><a href = "/id"></td>
              <td><a href="/habbit_record_list/"><%=item.title%></a></td>
              <td><%=item.author %></td>
              <td><%=item.createdAt %></td>
              <td><%=item.count %></td>
            </tr>

            <% }); %>


          </tbody>
        </table>
        <p></p>

        <a class="button" href="/register">기록 추가</a>
      </figure>
    </div>
  </body>
</html>
